body{
	margin:0;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #0c1445;
	color: #FFAA00;
}
	
.topnav{
  background-color: #333;
  overflow: hidden;
  text-align: center;
  top:10px;
  font-size:0;
}
	
.MainDiv{
  background-image: url("https://i.pinimg.com/originals/e5/8d/c1/e58dc140e157a4282a02b65af048c6b8.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-right: 5px;
  padding-right: 5px;
}
	
.DivList{
  max-width: 250px;
  height: 260px;
  background-color: #0c1445;
}	
	
.floatRight{
	text-align:right;
	margin-left:5px;
	z-index: 9;
	top:5px;
	right:10px;
	position:absolute;
	font-size:0;
}
